.section-title__theme_dark {
  margin-top: 90px;
  margin-bottom: 20px;
  z-index: 1;
}

.section-subtitle__theme_dark {
  margin-top: 0;
}

.table__theme_dark {
  margin-bottom: 90px;
}

.table__cell_theme_dark {
  width: 200px;
  z-index: 1;
  margin-bottom: 0;
  margin-top: 80px;
  color: white;
}

.table__heading_theme_dark {
  margin-bottom: 20px;
  margin-top: 0;
}

.table__text_theme_dark {
  margin: 0;
}